:root {
  --bg: white;
  --text: black;
  --border: black;
}

[data-theme='dark'] {
  --bg: rgb(26, 26, 26);
  --text: white;
}

body {
  margin: 0;
  padding: 10px 10px;
  font-family: sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: background 0s, color 0s;
}

#themeToggle {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
}
#themeToggle:hover {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

input:focus {
  outline: 1px solid lightslategray;
}

input {
  width: 350px;
  padding: 2px 2px;
  font-weight: bold;
}

button {
  background-color: white;
  padding: 3px 2px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

button:active {
  opacity: 0.5;
}