body{
  background-color: rgb(48, 48, 48);
  color: white;
  font-family: Arial;
  margin: 0 0;
  padding: 0 0;
}

button{
  cursor: pointer;
}

.js-button{
  width: 100px;
  height: 100px;
  background-color: black;
  border: 3px solid white;
  border-radius: 50%;
}

.images{
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 50%;
}
